<div class="container">
    <div class="header">
      <h1>Listar Menus</h1>
    </div>
    <div class="card">
      <div class="card-header">
        <h2>Menus</h2>
      </div>
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th>Codigo de Menu</th>
              <th>Nombre</th>
              <th>Categoria</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let menu of menus; index as i">
              <td data-label="Menu">M - {{menu.Id >9 ? menu.Id : "0"+menu.Id}}</td>
              <td data-label="Nombre">{{menu.Nombre}}</td>
              <td data-label="Categoria">{{menu.Categoria}}</td>
              <td data-label="Acciones">
                <button class="button">Editar</button>
                <button class="button">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>